.aside-header {
  line-height: 64px;
  transition: .3s;
  white-space: nowrap;

  img {
    width: 40px;
    margin-left: 5px;
  }

  .aside-header-title {
    display: inline-block;
    margin: 0 0 0 12px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
    vertical-align: middle;

  }
}