.more-step-scale {
  .more-step-row {
    margin-top: 15px;
    border: 1px solid #DCDFE6;
    padding: 15px;

    .game-wrap {
      margin-bottom: 10px;

      .game-input {
        width: 200px;
        margin-right: 15px;
      }
    }


  }
}