.main-header {
  padding: 0;
}

.main-content {
  padding: 24px;

  .ant-card-body {
    // tabs-56 , card padding-24 , header-64 , main content padding-24,border-2
    max-height: calc(100vh - 56px - 24px - 64px - 24px - 2px);
    overflow: auto;
  }


  .main-content-route {
    padding: 24px;
  }
}